<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/posts">Blog</a>
        </div>

        <div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="/search">
                <input type="text" name="term" placeholder="Search term">
                <button class="btn">Search</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.principal.username}"></span>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
        </div>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>